<h1>Edit Article</h1>
<table>
<%= form_for [:admin, @article] do |article| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <tr>
    <td><%= article.label :title %></td>
    <td><%= article.text_field :title %></td>
  </tr>
  <tr>
    <td><%= article.label :body %></td>
    <td><%= article.text_area :body %></td>
  </tr>
  <tr>
    <td><%= article.submit %></td>
  </tr>
<% end %>
</table>


