<%= flash[:notice] %>
<h1>List Of Articles</h1>
<table class=list_articles>
  <tr>
    <td>Title</td>
    <td>Content</td>
    <td>Option</td>
  </tr>
  <% @articles.each do |article|%>
  <tr>
  <td><%= article.title %></td>
  <td><%= article.body %>
  <td><%= link_to "Show", article, :class => "no-border" %> 
    <% if current_user.present? %>
    <%= link_to 'Edit', edit_article_path(article) %> 
    <%= link_to 'Delete', article_path(article.id), :confirm => 'Are you sure want to delete this item?', :method => :delete %>
    <% end %>
  </tr>
  <% end %>
</table>
<p><%= link_to "Add new Article", new_article_path%></p>

<h3>List Of Articles with char > 100 </h3>
<% @article_hundred_char.each do |article|%>
    <p><%= article.title %>
<% end %>



