 <div class="content">
  <div class="hr_two"></div>
  <h4><%= @article.title %></h4>
  <div class="hr_two"></div>
  <section>
    <article>
      <%= @article.body %>
    </article>
    <article id="list_comments">
      <%= render :partial => "comments/list_comments", :locals => {:comments => @comments, :article => @article}  %>
    </article>
    <% unless session[:user_id].nil? %>
      <article id="comment">
        <%= form_for @comment, :remote => true do |f| %>
          <%= f.hidden_field "user_id", :value => current_user.id %>
          <%= f.hidden_field "article_id", :value => @article.id %>
          <%= f.label :comment %> : <br />
          <%= f.text_area :comment, :cols => 30, :rows => 4 %><br />
          <%= f.submit "Comment" %>
        <% end %>
      </article>
    <% end %>
    <br />
    <%= link_to "Back", articles_path %>
  </section>
</div>