<h4><%= @product.name %></h4> 
  <p>
    <strong>Description :</strong><br />
    <%= @product.description %>
  </p>
  <p>
    <strong>Price :</strong><br />
    <%= @product.price %>
  </p>
<%= link_to "Back", admin_products_path %>
  
