<div class="content">
  <div class="hr_two"></div>
  <h4>Listing Products</h4>
  <div class="hr_two"></div>
  <div class="products">
    <% @products.each do |product| %>
      <div class="product">
        <p>
          Name : <%= product.name %><br />
          Price : <%= product.price %>
          <ul>
            <li><%= link_to "detail", product %></li>
          </ul>
        </p>
      </div>
    <% end %>
    <h4>Listing Products Price more than 1000 </h4>
    <% @product.each do |f| %>
      <div class="product">
        <p>
          Name : <%= f.name %><br />
          Price : <%= f.price %>
          <ul>
            <li><%= link_to "detail", f %></li>
          </ul>
        </p>
      </div>
    <% end %>
    
    <h4>Listing Products containing red </h4>
    <% @red.each do |r| %>
      <div class="product">
        <p>
          Name : <%= r.name %><br />
          Price : <%= r.price %>
          <ul>
            <li><%= link_to "detail", r %></li>
          </ul>
        </p>
      </div>
    <% end %>
    
    <li><%= link_to "add product", new_product_path %></li>
  </div>
</div>
