<!DOCTYPE html>
<html>
<head>
  <title>ROR</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= raw(welcome_text) %><br>
<% if current_user.present? %>
	<% if current_user.is_admin? %>
		<li><%= link_to 'Article', admin_articles_path %> | <%= link_to 'Product', admin_products_path %></li>
		<br>
	<% else %>
		<li><%= link_to 'Article', articles_path %> | <%= link_to 'Product', products_path %></li>
		<br>
	<% end %>
<% else %>
	<li><%= link_to 'Article', articles_path %> | <%= link_to 'Product', products_path %></li>
	<br>
<% end %>
<%= yield %>
</body>
</html>
